.form-container {
  margin: 16px;
  padding: 4px;
  border: 2px solid #777;
  border-top: 4px solid $color-blue;
  border-radius: 4px;

  h1 {
    text-align: center;
    border-bottom: 1px solid #777;
    padding: 12px 20px;
  }

  .form-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 20px;

    label {
      display: flex;
      flex-direction: column;
    }

    input {
      height: 35px;
      padding: 4px;
    }
    select {
      height: 35px;
      padding: 4px;
    }
  }
}
