* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.navbar {
  height: 100vh;
  width: 340px;
  position: sticky;
  top: 0;
}
@media (width < 1120px) {
  .navbar {
    display: none;
  }
}
.navbar .nav-header {
  height: 56px;
  background-color: rgb(43, 43, 102);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .nav-header img {
  width: 34px;
  height: 34px;
  margin-right: 4px;
}
.navbar .nav-content {
  height: calc(100vh - 112px);
  overflow-y: scroll;
}
.navbar .nav-content .nav-content-header .nav-content-title {
  padding: 12px 16px;
  font-weight: 700;
}
.navbar .nav-content .nav-content-header .nav-content-link {
  padding: 14px 16px;
  height: 48px;
}
.navbar .nav-content .nav-content-header .nav-content-link:hover {
  background-color: rgb(43, 43, 102);
  cursor: pointer;
}
.navbar .nav-content .nav-content-header .nav-content-link:hover a {
  color: #fff !important;
}
.navbar .nav-content .nav-content-header .nav-content-link svg {
  fill: rgb(43, 43, 102) !important;
}
.navbar .nav-content .nav-content-header .nav-content-link a {
  text-decoration: none;
  margin-left: 4px;
  width: 100%;
}
.navbar .nav-footer {
  background-color: rgb(43, 43, 102);
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar .nav-footer #close-nav {
  display: none;
}
.navbar .nav-footer label {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.navbar .nav-footer label svg {
  fill: #fff !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #999;
  height: 56px;
  background-color: #fff;
}
.header .checkbox-icon {
  display: none;
  cursor: pointer;
}
@media (width < 1120px) {
  .header .checkbox-icon {
    display: inline-block;
  }
}
.header #check-box {
  display: none;
}
.header h1 {
  display: none;
}
@media (width < 1120px) {
  .header h1 {
    display: inline-block;
  }
}
.header .header-info {
  font-weight: 400;
}
@media (width < 1120px) {
  .header .header-info {
    display: none;
  }
}
.header .header-info .header-org-info {
  display: flex;
}
.header .header-info .header-org-info p {
  margin-right: 1rem;
}
.header .header-info .header-org-span {
  font-weight: 500;
  color: #777;
}
.header .header-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .header-icon .right {
  margin-right: 16px;
}
.header .header-icon img {
  cursor: pointer;
}

#check-box {
  display: none;
}
#check-box:checked .navbar {
  display: block;
}

.form-container {
  margin: 16px;
  padding: 4px;
  border: 2px solid #777;
  border-top: 4px solid rgb(43, 43, 102);
  border-radius: 4px;
}
@media (width <= 510px) {
  .form-container {
    margin: 0;
    padding: 0;
  }
}
.form-container h1 {
  text-align: center;
  border-bottom: 1px solid #777;
  padding: 12px 20px;
}
.form-container .form-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 20px;
}
@media (width < 1120px) {
  .form-container .form-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width < 485px) {
  .form-container .form-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.form-container .form-wrapper label {
  display: flex;
  flex-direction: column;
}
.form-container .form-wrapper input {
  height: 35px;
  padding: 4px;
  outline: 1px solid #777;
}
.form-container .form-wrapper .new-con {
  outline: none;
}
.form-container .form-wrapper select {
  height: 35px;
  padding: 4px;
}
.form-container .buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 16px 24px 16px;
}
.form-container .buttons button {
  padding: 4px 8px;
  border: none;
  color: #fff;
  border-radius: 4px;
}
.form-container .buttons .btn-cancel {
  background-color: #e55353;
}
.form-container .buttons .btn-submit {
  background-color: #2eb85c;
}

.bank-container {
  margin: 0 16px;
  padding: 20px;
}
@media (width <= 510px) {
  .bank-container {
    padding: 0 !important;
    margin: 0 !important;
  }
}
.bank-container .bank-module button {
  padding: 8px 16px;
  border: none;
  color: #321fdb;
  background: #fff;
  border-radius: 8px;
}
.bank-container .bank-module .active {
  background-color: #321fdb;
  color: #fff;
}
.bank-container .bank-table {
  width: 100%;
  background-color: #dadada;
  margin: 16px 0px;
}
.bank-container .bank-table .bank-thead .bank-tr th {
  padding: 16px 8px;
  margin: 1px;
}
.bank-container .bank-table .bank-thead .bank-tr th .bank-tr-input {
  width: 100%;
  outline: none;
  border: none;
  height: 35px;
  border-radius: 4px;
  padding: 8px;
}
.bank-container .bank-table .bank-thead .bank-tr .btn-add {
  border: none;
  background: inherit;
  border: 1px solid blue;
  color: blue;
  padding: 8px;
  border-radius: 4px;
}
.bank-container .bank-table .bank-thead .bank-tr .btn-add:hover {
  background: blue;
  color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.wrapper-label .select {
  height: 32px;
  border: 1px solid #777;
  border-radius: 4px;
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
